<div class="section-text books-list">
  <h1>Books</h1>
  <div class="books-grid">
    <% @books.each do |book| %>
      <div class="book-container">
        <h2><%= book[:title] %></h2>
        <p><%= book[:summary] %></p>
        <%= link_to 'Read More', book_post_path(book[:identifier]), class: 'read-more-link' %>
      </div>
    <% end %>
  </div>
</div>
