
  <div class="section-text">
        <p>
          "If people cannot write well, they 
          cannot think well..." - George Orwell
        </p>

        <p>
          <%= @markdown.html_safe %>
        </p>
      </div>


<div class="section-text">
  <a href="/notebook/books"><h3>Books, Podcasts and Articles</h3></a>
  <a href="/notebook/conversations"><h3>Conversations with Friends, Family and cool Strangers</h3></a>
  <a href="/notebook/random"><h3>Random thoughts and ideas</h3></a>
</div>


