<div class="random-post-navigation">
  <% if @prev %>
    <% prev_identifier = File.basename(@prev, ".md") %>
    <%= link_to "← Previous", random_post_path(prev_identifier), class: "nav-arrow prev" %>
  <% end %>
  <% if @next %>
    <% next_identifier = File.basename(@next, ".md") %>
    <%= link_to "Next →", random_post_path(next_identifier), class: "nav-arrow next" %>
  <% end %>
</div>

<div class="random-post-content">
  <%= @markdown.html_safe %>
</div>
