<html>
  <body>
    <div data-controller="starfield">
      <div data-starfield-target="canvasContainer"></div>
    </div>
    <div class="content-container">
      <div class="section-text">
        <h1>About</h1>
      </div>
      <div class="section-text">
        <p></p>
      </div>
      <div class="footer">
        <p>© 2025 Terence Mahlatini</p>
      </div>
    </div>
  </body>
</html>
