<html>
  <body>
    <div data-controller="earth" data-launch-date="2024-12-09 00:00:00">
      <div data-earth-target="canvasContainer"></div>
      </div>

      <div class="footer">
        <a href="/about">Welcome to my humble corner of the internet.</a>
      </div>
    </div>
  </body>
</html>




