<html>
  <body>
    <div data-controller="starfield">
      <div data-starfield-target="canvasContainer"></div>
    </div>
    <div class="content-container">
      <div class="section-text">
        <h1><a href="/about">About</a> | 
        <a href="/now">Now</a> | 
        <a href="/notes">Notes</a> | 
        <a href="/projects">Projects</a></h1>
      </div>
      <div class="section-text">
        <p>
          "If people cannot write well, they 
          cannot think well..." - George Orwell
        </p>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>

