<html>
  <body>
    <div data-controller="starfield">
      <div data-starfield-target="canvasContainer"></div>
    </div>
    <div class="hello-text">
      <h1>Notes!</h1>
    </div>
  </body>
</html>