canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  
}

body {
  background-color: #000;
  margin: 0;
}


main {
    position: absolute;
    z-index: 1;
}


.content-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  z-index: 1000;
}

.section-text {
  position: relative;
  color: #e5dfdf;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;   
  font-size: 1.35em;
  margin-bottom: 2em;
  padding: 5x 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  text-align: left;
  width: auto;
}

.section-text h1 {
  position: relative;
  color: #e5dfdf;
  display: block;
  font-size: 3em;
  margin-bottom: 0.00001em;
  font-weight: bold;
  text-align: center;
  width: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.footer p {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
  text-decoration: underline;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .hello-text {
    font-size: 18px;
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .hello-text {
    font-size: 16px;
    padding: 6px 10px;
  }
}